/* 
* GitHub Plugin URI: https://github.com/yeomann/visual-composer-Addons
*/

.content__tabs_imageCon {
    width: 300px;
    height: 180px;
    display: inline-table;
}

.content__tabs--text a {
    color: red;
} 



